@model hometest.Models.InventoryData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InventoryData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Price" class="control-label"></label>
                <input asp-for="Unit_Price" class="form-control" />
                <span asp-validation-for="Unit_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupDataId" class="control-label"></label>
                <select asp-for="GroupDataId" class="form-control" asp-items="ViewBag.GroupDataId"></select>
                <span asp-validation-for="GroupDataId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
